<template>
  <q-page class="page column q-pt-md items-center">
    <div v-if="!loading">
      <div class="header row q-mt-md justify-between">
        <p class="text-h4 title">My Cart</p>
        <q-btn class="buy-btn" @click="checkoutModals = true">Check Out</q-btn>
      </div>
      <q-separator color="orange-4" />
      <!-- Product Card -->
      <div v-for="(item, index) in cart" :key="index">
        <div v-if="item" class="row product-card q-px-lg q-pb-lg">
          <q-img class="col-2 img q-mt-lg" :src="item.images[0]" />
          <div class="col-10 row justify-between">
            <div class="col-5 q-pt-lg column justify-center q-ml-lg">
              <p class="product-name">{{ item.name }}</p>
              <p class="product-type">Size-{{ item.size.toUpperCase() }}</p>
            </div>
            <div class="col-2 q-pt-xl column justify-center">
              <p class="product-price">฿{{ item.price }}</p>
            </div>
            <div class="col-1 q-pt-xl column justify-center">
              <p class="product-type">x {{ item.quantity }}</p>
            </div>
            <div class="q-pt-xl column justify-center">
              <p class="product-price total">
                ฿{{ parseInt(item.price) * item.quantity }}
              </p>
            </div>
            <div class="q-pt-lg column justify-center">
              <i
                @click="deleteFromCart(item.id, item.size)"
                class="fas fa-trash delete"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <!-- Product Card -->
      <q-separator class="q-mt-lg" color="orange-4" />
      <div class="q-pa-lg column">
        <q-checkbox
          class="check-box"
          keep-color
          color="orange"
          v-model="useSubscribe"
          ><p style="margin-top: 20px">Use Subscribe</p></q-checkbox
        >
        <div class="row justify-between">
          <p class="text-h7">Products Price</p>
          <p class="text-h7 text-primary q-ml-sm">{{ getTotalPrice() }} ฿</p>
        </div>
        <div class="row justify-between">
          <p class="text-h7">Shiping fee</p>
          <p class="text-h7 text-primary q-ml-sm">{{ shipingFee }} ฿</p>
        </div>
        <div class="row justify-between">
          <p class="text-h6">Total Price</p>
          <p class="text-h6 text-primary q-ml-sm">
            {{ getTotalPrice() + shipingFee }} ฿
          </p>
        </div>
      </div>
    </div>
    <div v-else>
      <q-spinner class="q-mt-lg" color="orange" size="4em" :thickness="8" />
    </div>
    <checkoutModal
      :openModal="checkoutModals"
      @confirmCheckout="confirmCheckout()"
      @closeModal="checkoutModals = false"
      :totalPrice="getTotalPrice() + shipingFee"
    ></checkoutModal>
  </q-page>
</template>

<script>
import Vue from "vue";
import ShopBanner from "../components/ShopBanner.vue";
import checkoutModal from "../components/CheckoutModal.vue";
import { mapState } from "vuex";
export default {
  name: "PageIndex",
  components: { ShopBanner, checkoutModal },
  data() {
    return {
      loading: false,
      checkoutModals: false,
      useSubscribe: false,
      shipingFee: 99
    };
  },
  computed: {
    ...mapState({
      cart: state => state.auth.cart
    })
  },
  methods: {
    getTotalPrice() {
      let price = 0;
      this.cart.map(product => {
        price = price + product.price * product.quantity;
      });
      return price;
    },
    async deleteFromCart(pid, size) {
      let localCart = localStorage.getItem("cart")
        ? JSON.parse(localStorage.getItem("cart"))
        : null;
      let newData = localCart.filter(
        product => !(product.id == pid && product.size == size)
      );
      localStorage.setItem("cart", JSON.stringify(newData));
      this.loading = true;
      await this.$store.dispatch("getLocalCart");
      this.loading = false;
    },
    async confirmCheckout() {
      const productsList = this.cart.reduce(
        (entryMap, e) =>
          entryMap.set(e.sid, [...(entryMap.get(e.sid) || []), e]),
        new Map()
      );
      await this.$store.dispatch("addOrder", productsList);
      localStorage.setItem("cart", "[]");
      await this.$store.dispatch("getLocalCart");
      this.checkoutModals = false;
    }
  },
  async beforeMount() {
    this.loading = true;
    await this.$store.dispatch("getLocalCart");
    this.loading = false;
  }
};
</script>

<style scoped>
.product-card {
  margin-top: 20px;
  background-color: #1b1b1b;
  border-radius: 5px;
}
p {
  color: white;
}
.banner {
  padding-right: 40px;
}
.title {
  letter-spacing: 2px;
}
.header {
  width: 70vw;
}
.img {
  width: 7vw;
  min-width: 100px;
  border-radius: 5px;
}
.product-name {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
}
.product-type {
  line-height: 2px;
  color: #f7971e;
  font-size: 20px;
  letter-spacing: 2px;
}
.buy-btn {
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 45px;
  background-color: #f7971e;
}
.product-price {
  color: rgb(40, 97, 219);
  font-size: 24px;
  letter-spacing: 2px;
}
.total {
  background-color: black;
  border-radius: 7px;
  padding: 10px;
}
.quantity {
  text-align: center;
  font-size: 20px;
  width: 120px;
}
.delete {
  font-size: 24px;
  border-radius: 7px;
  padding: 10px;
}
.delete:hover {
  color: rgb(173, 65, 65);
  cursor: pointer;
}
.check-box {
  margin-left: -10px;
}
</style>
