<template>
  <q-page class="page column q-pt-md items-center">
    <div v-if="!loading">
      <div>
        <!-- <div v-for="item in shopProducts" :key="item.id">
          <ProductCard :data="item"></ProductCard>
        </div> -->
      </div>
    </div>
    <div v-else>
      <q-spinner class="q-mt-lg" color="orange" size="4em" :thickness="8" />
    </div>
  </q-page>
</template>

<script>
import ShopBanner from "../components/ShopBanner.vue";
import ProductCard from "../components/ProductCard.vue";
import { mapState } from "vuex";
export default {
  name: "PageIndex",
  components: { ShopBanner, ProductCard },
  data() {
    return {
      loading: false
    };
  },
  computed: {
    ...mapState({
      popularShops: state => state.auth.popularShops
    })
  },
  async beforeMount() {
    this.loading = true;
    await this.$store.dispatch("getShopPopulars");
    console.log("this.popularShops", this.popularShops);
    this.loading = false;
  }
};
</script>

<style scoped>
p {
  color: white;
}
.banner {
  padding-right: 40px;
}
</style>
