<template>
  <q-page class="page column q-pt-md items-center">
    <div v-if="!loading">
      <div class="row">
        <q-img class="img q-mt-lg" :src="product.images[0]" />
        <div class="product-card q-px-xl q-ml-lg q-mt-lg">
          <p style="letter-spacing: 2px" class="text-h4 q-mt-md">
            {{ product.name}}
          </p>
          <p class="text-grey">
            {{ product.description}}
          </p>
          <div class="row">
            <p class="product-description">
              {{ product.type.toString().toUpperCase() }}
            </p>
            <p class="product-description q-ml-md">|</p>
            <p class="product-description q-ml-md">{{ product.sold }} Sold</p>
          </div>
          <p class="product-price">฿{{ product.price }}</p>
          <div class="row">
            <q-btn-toggle
              class="q-mt-sm options"
              toggle-color="primary"
              v-model="size"
              :options="options"
            />
          </div>
          <div class="row flex items-center">
            <div class="q-mt-lg">
              <q-input
                input-class="text-center"
                class="quantity"
                v-model.number="quantity"
                type="number"
                dark
                outlined
                rounded
                :error="isInStock"
              />
            </div>
            <div class="q-ml-md q-mt-lg">
              <p class="text-grey-8">
                Stock : {{ product.stock[size.toLowerCase()] }}
              </p>
            </div>
          </div>
          <div class="q-mt-lg q-mb-xl">
            <q-btn
              :disable="(quantity > 0 ? false : true) || isInStock"
              @click="addToCart(product.id)"
              class="add-to-cart"
            >
              <q-spinner v-if="addToCartLoading" color="orange" size="1em" :thickness="8" />
              <p v-else class="q-pt-sm q-pl-sm">Add To Cart</p>
            </q-btn>
            <q-btn
              :disable="(quantity > 0 ? false : true) || isInStock"
              @click="buyNow(product.id)"
              class="q-ml-md buynow"
            >
              <q-spinner v-if="addToCartLoading" color="orange" size="1em" :thickness="8" />
              <p v-else class="q-pt-sm q-pl-sm">Buy Now</p>
            </q-btn>
          </div>
        </div>
      </div>
      <div class="shop-card row q-px-md q-pa-md">
        <q-img
          class="shop-img"
          :src="
            shop.image
              ? shop.image
              : `https://i.pinimg.com/originals/dd/e2/0e/dde20e55a7442f69c94eb2442d8586f1.jpg`
          "
        />
        <div>
          <p class="q-ml-lg text-h5">{{ shop.name }}</p>
          <q-btn
            @click="goShopPage(shop.id)"
            style="background-color: #f7971e;"
            class="q-ml-lg"
            >Visit Shop</q-btn
          >
        </div>
      </div>
    </div>
    <div class="row justify-center" v-else>
      <q-spinner class="q-mt-lg" color="orange" size="4em" :thickness="8" />
    </div>
  </q-page>
</template>

<script>
import ShopBanner from "../components/ShopBanner.vue";
import { mapState } from "vuex";
export default {
  name: "PageIndex",
  components: { ShopBanner },
  data() {
    return {
      loading: false,
      buyNowLoading: false,
      addToCartLoading: false,
      quantity: 1,
      size: "S",
      options: [
        {
          label: "Size-S",
          value: "S"
        },
        {
          label: "Size-M",
          value: "M"
        },
        {
          label: "Size-L",
          value: "L"
        },
        {
          label: "Size-XL",
          value: "XL"
        }
      ]
    };
  },
  computed: {
    ...mapState({
      product: state => state.auth.product,
      shop: state => state.auth.shop
    }),
    isInStock() {
      if (
        this.quantity > this.product.stock[this.size.toLowerCase()] ||
        this.quantity <= 0
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    goShopPage(sid) {
      // console.log(sid);
      this.$router.push(`/shop?sid=${sid}`);
    },
    async buyNow(pid) {
      this.buyNowLoading = true;
      await this.addToCart(pid);
      this.$router.push(`/cart`);
      this.buyNowLoading = false;
    },
    async addToCart(pid) {
      this.addToCartLoading = true;
      let localCart = localStorage.getItem("cart")
        ? JSON.parse(localStorage.getItem("cart"))
        : null;
      if (localCart == null) {
        let product = {
          id: pid,
          quantity: this.quantity,
          size: this.size
        };
        await localStorage.setItem("cart", JSON.stringify([product]));
      } else {
        let cartIndex = localCart.findIndex(
          cartPd => cartPd.id == pid && cartPd.size == this.size
        );
        if (cartIndex > -1) {
          localCart[cartIndex].quantity =
            localCart[cartIndex].quantity + this.quantity;
          await localStorage.setItem("cart", JSON.stringify(localCart));
        } else {
          let products = {
            id: pid,
            quantity: this.quantity,
            size: this.size
          };
          await localStorage.setItem(
            "cart",
            JSON.stringify([...localCart, products])
          );
        }
      }
      this.addToCartLoading = false;
    }
  },
  async beforeMount() {
    console.log(this.$route.query.id);
    this.loading = true;
    await this.$store.dispatch("getProductById", this.$route.query.id);
    await this.$store.dispatch("getShopDataBySid", this.product.sid);
    this.loading = false;
  }
};
</script>

<style scoped>
.shop-card {
  margin-top: 20px;
  background-color: #1b1b1b;
  border-radius: 5px;
}
.product-card {
  width: 40vw;
  background-color: #1b1b1b;
  border-radius: 5px;
}
p {
  color: white;
}
.banner {
  padding-right: 40px;
}
.img {
  width: 24vw;
  min-width: 100px;
  border-radius: 5px;
}
.shop-img {
  width: 3vw;
  min-width: 100px;
  border-radius: 5px;
}
.product-description {
  font-size: 20px;
  color: #f7971e;
}
.product-price {
  text-align: center;
  border-radius: 5px;
  width: 120px;
  padding: 10px;
  background-color: #000000;
  font-size: 28px;
  font-weight: 600;
  color: #f7971e;
  color: rgb(40, 97, 219);
}
.options {
  color: white;
}
.quantity {
  text-align: center;
  font-size: 20px;
  width: 120px;
}
.add-to-cart {
  color: #f7971e;
  height:55px;
  font-size: 18px;
  background-color: rgb(126, 85, 50);
}
.buynow {
  color: white;
  height: 55px;
  font-size: 18px;
  background-color: rgba(255, 143, 41, 1);
}
.shopicon {
  color: #f7971e;
  font-size: 64px;
}
</style>
