<template>
  <q-dialog persistent v-model="addSubscriptionDialog">
    <q-card class="card">
      <q-card-section
        style="padding-bottom: 2px"
        class="dialog-header row justify-between"
      >
        <p class="dialog-title">Add subscription</p>
        <p @click="closeModal" style="cursor: pointer" class="dialog-title">
          X
        </p>
      </q-card-section>
      <q-card-section>
        <q-input
          color="orange-4"
          standout
          v-model="price"
          type="number"
          label="Price"
          class="q-mb-md"
        >
          <template v-slot:prepend>
            <i class="fas fa-dollar-sign"></i>
          </template>
        </q-input>
        <q-input
          color="orange-4"
          standout
          v-model="quantity"
          type="text"
          label="Quantity"
          class="q-mb-md"
        >
          <template v-slot:prepend>
            <i class="fas fa-layer-group"></i>
          </template>
        </q-input>
        <div class="row">
          <q-input
            color="orange-4"
            standout
            v-model="productPriceLowest"
            type="number"
            label="Lowest Price"
            class="q-mb-md col-6 q-pr-sm"
          >
            <template v-slot:prepend>
              <i class="fas fa-tshirt"></i>
            </template>
          </q-input>
          <q-input
            color="orange-4"
            standout
            v-model="productPriceHighest"
            type="number"
            label="Highest Price"
            class="q-mb-md col-6 q-pr-sm"
          >
            <template v-slot:prepend>
              <i class="fas fa-tshirt"></i>
            </template>
          </q-input>
        </div>
        <q-select
          color="orange-4"
          standout
          v-model="duration"
          :options="options"
          label="Duration"
          error-message=""
          :error="false"
        >
          <template v-slot:prepend>
            <i class="fas fa-calendar-alt"></i> </template
        ></q-select>
        <q-input
          color="orange-4"
          standout
          v-model="expireDate"
          type="date"
          label="Expire Date"
          class="q-mb-md"
        >
          <template v-slot:prepend>
            <i class="fas fa-clock"></i>
          </template>
        </q-input>
      </q-card-section>
      <q-card-actions class="row justify-center q-mb-lg">
        <q-btn
          v-if="!loadingAdd"
          @click="addSubscription()"
          flat
          class="shot-btn-1"
          label="add"
          dense
        />
        <q-spinner v-else color="orange" size="2em" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
export default {
  props: ["addSubscriptionDialog", "shopName"],
  data() {
    return {
      price: null,
      quantity: null,
      productPriceLowest: null,
      productPriceHighest: null,
      expireDate: new Date().toJSON().slice(0, 10),
      duration: "1 Month",
      open: true,
      loadingAdd: false,
      options: [
        "1 Month",
        "2 Months",
        "3 Months",
        "6 Months",
        "10 Months",
        "1 Year"
      ]
    };
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
    async addSubscription() {
      console.log(this.expireDate);
      this.loadingAdd = true;
      await this.$store.dispatch("addSubscription", {
        price: this.price,
        quantity: this.quantity,
        productPriceLowest: this.productPriceLowest,
        productPriceHighest: this.productPriceHighest,
        expireDate: this.expireDate,
        duration: this.duration,
        shopName: this.shopName
      });
      this.price = null;
      this.quantity = null;
      this.productPriceLowest = null;
      this.productPriceHighest = null;
      this.expireDate = new Date().toJSON().slice(0, 10);
      this.duration = "1 Month";
      this.shopName = "";
      this.$emit("closeModal");
    }
  }
};
</script>
<style lang="scss" scoped>
.card {
  background-color: #fff;
  width: 60vw;
}
</style>
