<template>
  <div>
    <q-dialog persistent :value="openModal">
      <q-card class="card text-white">
        <q-card-section>
          <div class="text-h6">Checkout</div>
        </q-card-section>

        <q-card-section class="card-section row justify-center">
          <p class="text-h6 text-black">Total Price : {{ totalPrice }} Bath</p>
        </q-card-section>

        <q-card-actions class="card-section" align="right">
          <q-btn
            class="button"
            @click="confirmCheckout()"
            flat
            label="Confirm"
          />
          <q-btn
            @click="closeModal()"
            class="button"
            flat
            label="Cancel"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "CheckoutModal",
  props: ["openModal", "totalPrice"],
  data() {
    return {
      email: "",
      fullname: "",
      password: "",
      registerCode: "",
      isLoading: false,
      alert: false
    };
  },
  computed: {
    // isValid() {
    //   if (this.password === "") {
    //     return false;
    //   } else {
    //     return this.password.length < 5;
    //   }
    // },
    // isEmail() {
    //   var n = this.email.indexOf("@");
    //   if ((this.email !== "") & (n === -1)) {
    //     return true;
    //   } else {
    //     return false;
    //   }
    // }
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
    confirmCheckout() {
      this.$emit("confirmCheckout");
    },
    async login() {
      this.isLoading = true;
      try {
        if (this.password != "" && this.email != "") {
          let res = await this.$store.dispatch("login", {
            email: this.email,
            password: this.password
          });
          console.log("res ", res);
          if (!res) {
            this.alert = true;
            this.registerCode = "Login Failed";
          }
        } else {
          this.alert = true;
          this.registerCode = "Please fill out all information.";
        }
      } catch {
        this.alert = true;
        this.registerCode = "Login Failed";
      }
      this.password = "";
      this.email = "";
      this.isLoading = false;
    }
  }
};
</script>

<style scoped>
.card {
  background-color: #f7971e;
  width: 30vw;
}

.alert-card {
  background-color: #f7971e;
  width: 25vw;
}

.card-section {
  background-color: white;
}
.button {
  background-color: white;
  color: #f7971e;
}
.register-code {
  text-align: center;
  font-size: 16px;
}
.spinner {
  margin-left: 12vw;
  color: #f7971e;
}

@media only screen and (max-width: 1400px) {
  .card {
    background-color: #f7971e;
    width: 80vw;
  }
  .alert-card {
    background-color: #f7971e;
    width: 75vw;
  }
  .spinner {
    margin-left: 30vw;
    color: #f7971e;
  }
}
</style>
