<template>
  <div>
    <q-card class="fav-card">
      <q-card-section>
        <p class="title">{{ data.shopName }}</p>
        <q-img
          class="image"
          src="https://i.pinimg.com/originals/dd/e2/0e/dde20e55a7442f69c94eb2442d8586f1.jpg"
        />
        <div class="row q-mt-md">
          <p class="shop-desc-title">Promotion :</p>
          <p class="shop-desc">
            {{ data.price }} Baht {{ data.quantity }} Cloths
          </p>
        </div>
        <div class="row">
          <p class="shop-desc-title">EXP</p>
          <p class="shop-desc">: {{ getExpire() }}</p>
        </div>
      </q-card-section>

      <q-card-actions class="row justify-center">
        <q-btn @click="goToShop()" flat class="btn">Shop</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["data"],
  data() {
    return {};
  },
  methods: {
    goToShop(){
      window.location.replace(`/shopsubscribe?subID=${this.data._id}`)
    },
    getExpire() {
      const arrStartDate = this.data.startDate.split("-");
      const startDateStamp = new Date(
        arrStartDate[2],
        parseInt(arrStartDate[1]) - 1,
        arrStartDate[0]
      ).getTime();
      if (this.data.duration == "1 Month") {
        const expireDate = new Date(startDateStamp + 2629800000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "2 Months") {
        const expireDate = new Date(startDateStamp + 5259600000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "3 Months") {
        const expireDate = new Date(startDateStamp + 7889400000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "4 Months") {
        const expireDate = new Date(startDateStamp + 10519200000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "5 Months") {
        const expireDate = new Date(startDateStamp + 13149000000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "6 Months") {
        const expireDate = new Date(startDateStamp + 15778800000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      } else if (this.data.duration == "1 Year") {
        const expireDate = new Date(startDateStamp + 31557600000);
        return expireDate.getDate() + "-" + (expireDate.getMonth() + 1) + "-" + expireDate.getFullYear();
      }
    }
  },
  computed: {
    ...mapState({
      shop: state => state.auth.shop
    })
  }
};
</script>

<style scoped>
.fav-card {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  /* background-color: #f7971e; */
  background-color: #1b1b1b;
}
.image {
  margin-left: -16px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.title {
  font-weight: 500;
  text-align: center;
  font-size: 21px;
  letter-spacing: 2px;
  color: #f7971e;
}
.shop-desc-title {
  color: #f7971e;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
}
.shop-desc {
  color: white;
  line-height: 10px;
  font-size: 16px;
}
.btn {
  color: #f7971e;
}
</style>
